*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body{
    background-color: rgb(47, 2, 0);
    background: linear-gradient(to right, #000000, #1a1a1a);
    
}
/* Barra supeior */
.principalGradient{background: linear-gradient(to bottom, #faa700, #885b00);}
.barraSuperior{
    background-color: #faa700;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.iconos{
    margin-left: 10px;
    margin-right: 10px;
    height: 60%;
}
.iconoPrincipal, .iconPerfil{ 
    transition: 0.5s ease-in-out;
}
.iconoPrincipal:hover,.iconPerfil:hover{
    transform: scale(1.1);
}
.barraBusqueda{
    width: 50%;
    padding-left: 10px;
    border: solid 2px;
    font-size: 1.7rem;
    
}
.barraBusqueda::placeholder{
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.293);
}

.bars{
    border-radius: 100%;
    display: none;
}

/* Main */

.br{border-radius: 10px;}

main{flex: 1; display: flex; flex-direction: column;}

.listaProductos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 40px;
    
}
.producto{
    background-color: red;
    height: 55vh;
    width: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
   
}
.productImage{
    display: block;
    height: 70%;
    width: 95%;
    margin: 0 auto;
    padding-top: 5px;
    
}
.prudoctTextInfo{
    background-color: white;
    margin-top: 10px;
    width:100%;
    border-radius: 0 0 10px 10px ;
    
    
}

.productName{
   
}
.productPrice{
    color: green;
    font-size: 2.2rem;
}

/* Barra Inferior */

.barraInferior{
    background-color: red;
    width: 100%;
    height: 8vh;
    
}

@media (orientation: portrait) {
        .iconoPrincipal{display: none;}
        .barraBusqueda{margin-left: 20px; width: 60%;}
        .iconPerfil{display: none;}
        .bars{display: block; margin-right: 20px;}
        .listaProductos{
            grid-template-columns:repeat(2, 1fr);
            margin: 5px;
        }
        .producto {
            background-color: red;
            height: 35vh;
            width: 45vw;
            }

        .productPrice{font-size: 1.4rem;} 
        .productName{font-size: 1rem; } 
     }